@import '../../lib/styles/abstracts/_variables.scss';
@import '../../lib/styles/abstracts/_mixins.scss';

.portlet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
//	width: 100% !important;
//	height: 100% !important;
    $inner-padding: 26px;
    background-color: transparent;
    padding: calc(#{$inner-padding} * 1.1) $inner-padding;

    // Space between portlets
    &:not(:first-child) {
        margin-top: 2rem;
    }

    // Space between direct elements inside a portlet
    & > *:not(:last-child) {
        margin-bottom: 22px;
    }
}
